/* ---- SCSS FOR COLORS ----- */
$linkBlue: rgb(34, 127, 228);
$borderGrey: 1px solid rgb(66, 66, 69);

/* ---- SCSS FOR FONT FAMILY ----- */
$default_font_family: 'Arial', sans-serif;
$normal: 400;
$heavy: 700;

// /* ---- SCSS GUTTER ----- */
// $gutter: 2%;