/* .App {
    
    /* font-family: Arial, Helvetica, sans-serif; */
    
body {
  box-sizing: border-box;
    pointer-events: all;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
  background-color: black;
  width: 100%;
}
*,* ::after, *::before {
    box-sizing: inherit;
}



/* .main {
  pointer-events: all;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: .011em;
} */

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  /* color: white; */
  background-color: black;
  opacity: 0.9;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerInner {
  width: 100%;
  max-width: 1020px;
  height: 100%;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerIcon {
  color: rgb(214, 214, 214);
  font-size: 22px;
}

.headerText {
  color: rgb(214, 214, 214);
  font-size: 14px;
}

.headerIcon:hover, .headerText:hover {
  color: white;
  cursor: pointer;
}

.adBar {
  display: flex;
  flex-direction: column;
  height: 215px;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  background-color: rgb(31,31,31);
}

  .emptyAdBarRollup {
    height: 20px;
    background-color: black;
  }

  .addBarText {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    margin-top: 50px;
    /* justify-content: flex-end; */
    padding: 0 30px 0 30px;
    color: white;
  }

  .addBarText > h1 {
    font-size: 33px;
    font-weight: 550;
    margin-bottom: 0;
  }

  .addBarText > span {
    margin-bottom: 10px;
    font-size: 17px;
  }

#adBarLink {
  text-decoration: none;
  color: rgb(36, 125, 219);
  font-size: 17px;
  padding: 0;
}

  #adBarLink:hover {
    text-decoration: underline;
    color: rgb(34, 120, 212);
  }

.headline {
  font-size: 80px;
  line-height: 1.0625;
  font-weight: 500;
  letter-spacing: -.009em;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  text-align: center;
  margin: 30px 0;
}

.subhead {
  font-size: 22px;
  font-weight: 400;
  width: 740px;
  text-align: center;
}

.button, .seriesButton {
  background: none;
	color: inherit;
  border: solid 1px white;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;

}

.button {
  padding: 15px 35px;
}

.seriesButton {
  width: 150px;
  height: 55px;
  text-align: center;
  line-height: 48px;
  margin: 0 10px;
}

.button:hover, .seriesButton:hover {
  background-color: white;
  color: black;
}

.twoButtonsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.availableStartingText {
  color: rgb(99, 99, 104);
  text-align: center;
  margin-top: 0;
}

.futureOfMac, .smallChip, .macAir, .macPro, .macMini {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
}

.futureOfMac {
  width: 100%;
  height: 900px;
  background-image: url('./assets/appleLogoBackground.jpg');
  background-position: center;
  background-position-y: top;
  justify-content: flex-end;
  padding-bottom: 60px;
}

  .futureOfMac > h3 {
    width: 580px;
    margin-top: 0;
  }

.m1Img {
  height: 98px;
  width: 98px;
  background-image: url('./assets/m1chip.jpg');
  background-size: contain;
  margin-top: 60px;
}


.smallChipInnerWrapper, .macAirInnerWrapper, .macProInnerWrapper, .macProImgWrapper, .macMiniInnerWrapper, .macMiniImgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 60px;
}

.smallChipInnerWrapper {
  background-image: url('./assets/chipLarge.jpg');
  width: 1472px;
  height: 510px;
  background-size: 1472px 510px;
  background-repeat: no-repeat;
}

.macAirImgWrapper {
  width: 1472px;
  height: 510px;
  background-image: url('./assets/macAir.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25%;
}

.macAirInnerWrapper > h2 {
  margin: 0;
}

.macProImgWrapper {
  background-image: url('./assets/macPro.jpg');
  width: 1472px;
  height: 540px;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 0;
}

  .macProInnerWrapper > h3 {
    margin-top: 0;
  }

.macMiniImgWrapper {
  background-image: url('./assets/macMini.jpg');
  background-position: center;
  width: 1472px;
  height: 900px;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

  .macMiniImgWrapper > h2, .macMiniImgWrapper > h3 {
    margin-top: 0;

  }

.footerWrapper {
  width: 100%;
  background-color: rgb(29, 29, 31);
  display: flex;
  justify-content: center;
}

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1020px;
    font-size: 12px;
    color: rgb(105, 105, 110);
    padding: 20px 20px;
  }

    .footerBatteryInfo {
      padding-bottom: 20px;
      border-bottom: 1px solid rgb(66, 66, 69);
    }

    .footer a {
      text-decoration: none;
      outline: none;
      color: rgb(151, 151, 156);
    }

    .footer a:hover {
      text-decoration: underline;
      color: white;
    }

    .footerNav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      color: rgb(150, 150, 155);
      padding: 20px 0;
    }

      .footerNavColumn {
        width: 20%;
        /* padding: 10px; */
      }

      .footerNavLabel {
        font-weight: bold;
        color: white;
      }

      .footerNav ul {
        list-style: none;
        padding: 0;
        line-height: 25px;
      }

    .footerContact {
      border-bottom: 1px solid rgb(66, 66, 69);
      padding: 10px 0;
    }

    .footerContact a {
      color: rgb(34, 127, 228);
    }

    .footerContact a:hover {
      text-decoration: underline;
      color: rgb(34, 127, 228);
    }

    .footerTermsBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0;
    }

    .footerTermsBarLeft {
      display: flex;
      flex-direction: flex-start;
    }

      .policyLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 25px;
      }

        .policyLinks > a {
          padding: 0 10px;
          border-right: 1px solid rgb(66, 66, 69);
        }

        a.noBorder {
          border: none;
        }
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
